/*  ========================================
    main.css - Main Entry Point
    ======================================== */

/* 1. TOKENS - Variables */
@import "tokens.css";

/* 2. BASE - Global styles, reset, typography */
@import "base.css";

/* 3. LAYOUT - Page structure*/
@import "layout.css";

/* 4. COMPONENTS */
@import "components/card.css";
@import "components/footer.css";
