/* ===================================
   card.css - 
  ==================================== */

.card {
  inline-size: 100%;
  max-inline-size: 21.33rem;
  padding: var(--spacing-200);
  background-color: var(--white);

  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-medium);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);

  padding: var(--spacing-300) var(--spacing-200);
  text-align: center;
}

.card-img {
  border-radius: var(--border-radius-sm);
}

.card-title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  line-height: 1.2;
  color: var(--slate-900);
}

.card-description {
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  line-height: 1.4;
  letter-spacing: 0.0133rem;
  color: var(--slate-500);
}
